*.DS_Store
build-cmake/
.coverage
.h5
.clang_format
.vscode/
*.egg-info
*.pytest_cache
__pychache__
*.pyc
.vs/*

# Ignore cmake-configured files
python/utopya/utopya/info.py

# ignore clang format used by vscode
**.clang-format
