# Ignore files and directories that are created by the content of this repo,
# e.g. when a test is carried out or an installation occurs.
#
# NOTE: Use a _global_ .gitignore for everything that is created by the setup
#       on _your_ machine, e.g. directories created by your code editor.
#       Do NOT add them here!
# See the following link on how to create a global .gitignore file:
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

build-cmake/
.coverage
.h5
*.egg-info
*.pytest_cache
__pychache__
*.pyc

# Ignore cmake-configured files
python/utopya/utopya/info.py

