# Python packages that are installed into the utopia-env
# ------------------------------------------------------

# Requirements for repository infrastructure
pre-commit>=2.18


# Requirements for Python model tests
pytest
pytest-cov


# Requirements for Python model plots


# Temporary (!) development requirements
# FIXME Remove
git+https://gitlab.com/utopia-project/utopya.git@45-clean-up-utopya-base-plots-config
