# The model configuration for the BCCopyMe model
---
# --- Space parameters --------------------------------------------------------
# The physical space this model is embedded in
space:
  periodic: true

# --- CellManager and cell initialization -------------------------------------
# NOTE Only used in standalone mode
cell_manager:
  grid:
    structure: square
    resolution: 16      # in cells per unit length of physical space

  # Cell initialization parameters
  cell_params:
    # The heterogeneous model default parameter.
    # Here, it will be overwritten by the Environment's init_env_state_funcs
    some_heterogeneous_parameter: 0.2

some_global_parameter: 0.


# --- Default configuration for Environment model -----------------------------
# ... Environment functions invoked once at initialisation ....................
init_env_state_funcs:
  # provide a sequence here
  - uniform:
      # The parameter to which to apply the env
      some_heterogeneous_parameter:
        mode: set     # can be: set, add
        value: 0.0
      # Can add more parameters here ..

  - steps:
      some_heterogeneous_parameter:
        mode: add
        latitudes: [0.5]
        values_north_south: [.4, .0]

  - noise:
      some_heterogeneous_parameter:
        mode: add
        distribution: normal
        mean: .0
        stddev: .1

  - uniform:
      # The parameter to which to apply the env
      some_heterogeneous_parameter:
        mode: set     # can be: set, add
        value: -0.2
        select:   # apply this rule only to cm.select_cells(..)
          mode: clustered_simple
          generate: once  # can be once or always

          # Clustering parameters
          p_seed: .02    # Probability with which a cell is a cluster seed
          p_attach: .1   # Attachment probability (per neighbor)
          num_passes: 5  # How many attachment procedures to perform

# ... Environment functions invoked each step .................................
# To control the times at which these are invoked, you can add the `times` key,
# which is a sequence of invocation times. If the `times` key is not given,
# the environment function is invoked _every_ step. Note that zero or negative
# times are filtered out. For longer sequences, the !listgen tag can be used.
env_state_funcs:
  - noise:
      some_heterogeneous_parameter:
        mode: add
        distribution: normal
        mean: .0
        stddev: .02

  - slope:
      some_heterogeneous_parameter:
        mode: add
        values_north_south: [-0.1, 0.]
        times: !listgen [5]

  - slope:
      some_heterogeneous_parameter:
        mode: add
        values_north_south: [0.2, 0.]
        times: !listgen [5, 11, 2]


env_param_funcs:
  - set:
      some_global_parameter:
        value: 10
        invoke_at_initialization: True
  - sinusoidal:
      some_global_parameter:
        amplitude: 10
        period: 20
        times: !listgen [100]
        phase: 1
        offset: 10

        invoke_at_initialization: False # must not be invoked at initialization

