Sphinx == 5.*

# Extensions
sphinx-argparse
sphinx-togglebutton
breathe >= 4.13
myst-parser
sphinx-markdown-tables >= 0.0.16
markdown>=3.4.1
ipython>=7.0

# Themes
sphinx_rtd_theme   # unused, but kept for downstream compatibility
sphinx-book-theme
